<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
   <meta charset='UTF-8'>
   <title>SSG — {{page.data.title}}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="{{(root ~ '/css/styles.css') | latest}}">
   {% block head_extra %}{% endblock %}
  </head>
  <body>
    <header>
      {% block header %}{% endblock %}
    </header>
    <main>
      {% block content %}
      {{ page.content.main }}
      {% endblock %}
    </main>
    <footer>
      {% block footer %}{% endblock %}
    </footer>
  </body>
</html>
